<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	function updateEX(){
		if(confirm("수정하시겠습니까?")){
			return true;
		}
		return false
	}
	
	//답글폼 보여주기
	$(function(){
// 		alert("jquery연결");
		$("#replyBtn").click(function(){
			$("#replyForm").toggle(); //답글폼 보여주기
			document.getElementsByTagName("form")[1].reset(); //JS
		});
	});
</script>
<style type="text/css">
	/*답글 폼 안보이게 처리*/
	#replyForm{
		display:none;
	}
</style>
</head>
<body>
<div layout:fragment="content">
<div id="container">
<h1>상세보기</h1>
<form action="/board/boardUpdate" method="post" onsubmit="return updateEX()"
								th:object="${updateBoardCommand}">
	<input type="hidden" name="board_seq"  th:value="${dto.board_seq}"/>
	<table class="table">
		<tr>
			<th>작성자[ID]</th>
			<td th:text="${dto.id}"></td>
		</tr>
		<tr>
			<th>제목</th>
			<td>
				<input type="text" name="title" th:value="${dto.title}"
												class="form-control"/>
				<span th:if="${#fields.hasErrors('title')}" 
					  th:errors="*{title}" class="errorField"></span>
			</td>
		</tr>
		<tr>
			<th>내용</th>
			<td>
				<textarea rows="10" cols="60" name="content"
						  th:text="${dto.content}"
				          class="form-control"></textarea>
				<span th:if="${#fields.hasErrors('content')}" 
					  th:errors="*{content}" class="errorField"></span>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<button class="btn btn-secondary" type="button" id="replyBtn">답글</button>
				<button type="button" class="btn"
				 th:onclick="|location.href='@{/board/boardList}'|">목록</button>
				<th:block th:if="${session.mdto!=null&&session.mdto.id==dto.id}">
					<button type="submit" class="btn">수정</button>
					<button type="button" class="btn"
					 th:onclick="|location.href='@{/board/mulDel(board_seq=${dto.board_seq})}'|">삭제</button>
				</th:block>
			</td>
		</tr>
	</table>
	
</form>


	<div id="replyForm">
		<h2>답글작성하기</h2>
		<form action="/board/replyBoard" method="post" th:object="${replyBoardCommand}">
		<input type="hidden" name="board_seq" th:value="${dto.board_seq}" /> 
		<table class="table table-striped">
		<tr>
			<th>작성자</th>
			<td><input class="form-control" type="text" name="id" pattern="^[a-zA-Z]+$" required="required"/></td>
		</tr>
		<tr>
			<th>제목</th>
			<td><input class="form-control" type="text" name="title" required="required"/></td>
		</tr>
		<tr>
			<th>내용</th>
			<td><textarea class="form-control" name="content" required="required" rows="10" cols="60"></textarea></td>
		</tr>
		<tr>
			<td colspan="2">
				<button class="btn btn-secondary" type="submit" >답글등록</button>
				<button class="btn btn-secondary" type="button" th:onclick="|location.href='@{/board/boardList}'|">목록</button>
			</td>
		</tr>		
	</table>
	</form>
	</div>
	

</div>
</div>
</body>
</html>





