<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	function allSel(bool){
		var chks=document.getElementsByName("board_seq");// [seq,seq,seq,seq..]
		for (var i = 0; i < chks.length; i++) {
			chks[i].checked=bool;//각각의 체크박스에 체크여부를 true/false로 적용
		}
	}
	
	function isCheck(){
		if(confirm("정말 삭제 하시겠습니까?")){
			return true;
		}
		return false;
	}
	
// 	//상세내용 조회 hover
// 	 $(function() { //onload이벤트 가능 --> window.onload=function(){}
// //       alert("test");
//       //상세내용 조회: ajax로 구현
//       //해당 제목에 마우스 올리면 내용 보여주기
//       $("td>a").hover(function() {
//          //상세조회하려면 seq값이 필요함: detailBoard.do?seq=21
//          //  a    td       td     td
//          var seq=$(this).parent().prev().prev().text();
//          $.ajax({
//             url:"detailBoardAjax.do", //요청 URL
//             method:"post",          //전송방식
//             data:{"seq":seq},         //서버로 전송할 값
//             dataType:"json",         //받을 값의 타입
//             async:false,            //ajax메서드를 동기식으로 실행
//             success:function(obj){    //통신성공하면 실행
//                //obj={"dto":{seq:5,id:"hk"....}}
// //                alert(obj["dto"]["regDateStr"]);
//             	$("#regdate").val(obj.dto.regDateStr);
//             	$("#id").val(obj.dto.id);
//             	$("#title").val(obj.dto.title);
//             	$("#content").val(obj.dto.content);
//             },error:function(){
//                alert("통신실패");
//             }
//          });
//       },function(){
//     	  $("#regdate").val("");
//       	  $("#id").val("");
//       	  $("#title").val("");
//       	  $("#content").val("");
//       });
//    });
</script>
<style type="text/css">

</style>
</head>
<body>
<!-- <jsp:useBean id="util" class="com.hk.trip.utils.Util" /> -->
<div layout:fragment="content">
<div id="container">
<h1>게시판 목록</h1>
<form action="/board/mulDel" method="post" th:object="${delBoardCommand}">
	<table class="table">
		<tr>
			<th><input type="checkbox" name="all" 
										onclick="allSel(this.checked)" /></th>
			<th>번호</th>							
			<th>작성자</th>
			<th>제목</th>
			<th>조회수</th>
			<th>작성일</th>
			<th>삭제여부</th>
			<th>refer</th>
			<th>step</th>
			<th>depth</th>
		</tr>
		<th:block th:if="${#lists.isEmpty(list)}">
			<tr>
				<td colspan="4" style="text-align: center;" >---작성된 글이 없습니다.---</td>
			</tr> 
		</th:block>
		<th:block th:unless="${#lists.isEmpty(list)}">
			<tr th:each="dto:${list}">
				<td><input type="checkbox" name="board_seq" 
										   th:value="${dto.board_seq}"/></td>
				<td th:text="${dto.board_seq}"></td>
				<td th:text="${dto.id}"></td>
				<td>
				    <span th:if="${dto.delflag == 'Y'}">---삭제된글입니다---</span>
				    <span th:unless="${dto.delflag =='Y'}">
			            [(${@util.setArrowNbsp(dto.depth)})]
			            <a th:href="@{/board/boardDetail(board_seq=${dto.board_seq})}" th:text="${dto.title}">
			    		</a>
				    </span>

				</td>
				<td th:text="${dto.readcount}"></td>
				<td th:text="${#dates.format(dto.regdate,'yyyy-MM-dd')}"></td>
				<td th:text="${dto.delflag}"></td>
				<td th:text="${dto.refer}"></td>
				<td th:text="${dto.step}"></td>
				<td th:text="${dto.depth}"></td>
			</tr>
			<tr>
				<td colspan="10">
					<button type="button" class="btn" th:onclick="|location.href='@{/board/boardInsert}'|">글추가</button>
					<button type="submit" class="btn">삭제</button>
					<span th:if="${#fields.hasErrors('board_seq')}"
					      th:errors="*{board_seq}"></span>
				</td>
			</tr>    
	 		<tr>
				 <td colspan="10" style="text-align:center;">
					 <!-- 페이징 처리부분 시작 -->
						 <ul class="pagination">
						    <li>
						        <a th:href="@{/board/boardList(pnum=${pMap.prePageNum})}" aria-label="Previous">
						            <span aria-hidden="true">&laquo;</span>
						        </a>
						    </li>
						    <th:block th:each="i: ${#numbers.sequence(pMap.startPage, pMap.endPage)}">
						        <li th:class="${pnum} == ${i} ? 'active' : ''">
<!--								<li>-->
						            <a th:href="@{/board/boardList(pnum=${i})}" th:text="${i}"></a>
						        </li>
						    </th:block>
						    <li>
						        <a th:href="@{/board/boardList(pnum=${pMap.nextPageNum})}" aria-label="Next">
						            <span aria-hidden="true">&raquo;</span>
						        </a>
						    </li>
						</ul>
	            <!-- 페이징 처리부분 종료 -->
		         </td> 
         	</tr>
		</th:block>
	</table>
</form>
<!-- 	<div id="ajaxForm"> -->
<!-- 		<label>작성일 : </label><input class="form-control" type="text" id="regdate"> -->
<!-- 		<label>작성자 : </label><input class="form-control" type="text" id="id"> -->
<!-- 		<label>제목 : </label><input class="form-control" type="text" id="title"> -->
<!-- 		<label>내용 : </label><textarea class="form-control" rows="3" cols="60" id="content"></textarea> -->
<!-- 		<label></label> -->
<!-- 	</div> -->
</div>
</div>
</body>
</html>





