<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>

<meta charset="UTF-8">
<title>Insert title here</title>

<script type="text/javascript">
	function allSel(bool){
		var chks=document.getElementsByName("board_seq");// [seq,seq,seq,seq..]
		for (var i = 0; i < chks.length; i++) {
			chks[i].checked=bool;//각각의 체크박스에 체크여부를 true/false로 적용
		}
	}
		
	function isAllCheck() {
	    if (confirm("정말 삭제 하시겠습니까?")) {
	        var count = 0;
	        var chks = document.getElementsByName("board_seq");//[chk,chk,chk,chk..]
	        for (var i = 0; i < chks.length; i++) {
	            if (chks[i].checked) {//체크여부확인: 체크되면 true
	                count++;
	            }
	        }
	        if (count == 0) {
	            alert("최소 하나이상 체크하세요");
	            return false;
	        }
	    } else {
	        alert("삭제가 취소되었습니다.");
	        return false;
	    }
	    return true;
	}

</script>
<style type="text/css">
	
	.btns {
 		text-align: right;
	}



	.a {
	   background: whitesmoke;
	   color: black;
	   border: none;
	   position: relative;
	   width: 40px; /* 수정: 너비를 50px로 고정 */
	   height: 40px; /* 수정: 높이를 30px로 고정 */
	   font-size: 13px;
	   padding: 0 1em; /* 수정: 좌우 패딩을 1em로 수정 */
	   cursor: pointer;
	   transition: 400ms ease all;
	   outline: none;
	   content: ''; 
	   height: 100%;
	   display: inline-block;
	   vertical-align: middle;
	}

	.pagination .active a {
        background-color:slateblue;
        color: white;
    }



</style>
</head>
<body>
<!-- <jsp:useBean id="util" class="com.hk.trip.utils.Util" /> -->
<div layout:fragment="content">
<div id="container">
<h1>게시판 목록</h1>
<form action="/board/mulDel" method="post" onsubmit="return isAllCheck()"th:object="${delBoardCommand}">
	<table class="table">
		<tr>			
			<th th:if="${session.mdto != null and session.mdto.role == 'ADMIN'}">
				<input type="checkbox" name="all" 
										onclick="allSel(this.checked)" /></th>
			<th>번호</th>							
			<th>작성자</th>
			<th>제목</th>
			<th>조회수</th>
			<th>작성일</th>
			<th>삭제여부</th>
			<th>refer</th>
			<th>step</th>
			<th>depth</th>
		</tr>
		<th:block th:if="${#lists.isEmpty(list)}">
			<tr>
				<td colspan="4" style="text-align: center;" >---작성된 글이 없습니다.---</td>
			</tr> 
		</th:block>
		<th:block th:unless="${#lists.isEmpty(list)}">
			<tr th:each="dto:${list}">
			    <!-- 체크박스와 삭제 버튼은 로그인이 되어 있고, 사용자 역할이 ADMIN인 경우에만 보이도록 설정 -->
			    <td th:if="${session.mdto != null and session.mdto.role == 'ADMIN'}">
			        <input type="checkbox" name="board_seq" th:value="${dto.board_seq}" />
			    </td>			
			    <td th:text="${dto.board_seq}"></td>
			    <td th:text="${dto.id}"></td>
			    <td>
			        <span th:if="${dto.delflag == 'Y'}">---삭제된글입니다---</span>
			        <span th:unless="${dto.delflag =='Y'}">
			            [(${@util.setArrowNbsp(dto.depth)})]
			            <a th:href="@{/board/boardDetail(board_seq=${dto.board_seq}, pnum=${pnum})}" th:text="${dto.title}"></a>
			        </span>
			    </td>
			    <td th:text="${dto.readcount}"></td>
			    <td th:text="${#dates.format(dto.regdate,'yyyy-MM-dd')}"></td>
			    <td th:text="${dto.delflag}"></td>
			    <td th:text="${dto.refer}"></td>
			    <td th:text="${dto.step}"></td>
			    <td th:text="${dto.depth}"></td>
			</tr>
			<tr>
				<td colspan="10" class="btns">
					<button type="button" class="btn" th:onclick="|location.href='@{/board/boardInsert}'|">글추가</button>
					<button type="submit" class="btn" th:if="${session.mdto != null and session.mdto.role == 'ADMIN'}">삭제</button>
					<span th:if="${#fields.hasErrors('board_seq')}"
					      th:errors="*{board_seq}"></span>

				</td>
			</tr>    
	 		<tr>
				 <td colspan="10" style="text-align:center;">
					 <!-- 페이징 처리부분 시작 -->
						 <ul class="pagination">
						    <li>
						        <a class="a" th:href="@{/board/boardList(pnum=${pMap.prePageNum})}" aria-label="Previous">
						            <span aria-hidden="true">&laquo;</span>
						        </a>
						    </li>
						    <th:block th:each="i: ${#numbers.sequence(pMap.startPage, pMap.endPage)}">
						        <li th:class="${pnum} == ${i} ? 'active' : ''">
						            <a class="a" th:href="@{/board/boardList(pnum=${i})}" th:text="${i}"></a>
						        </li>
						    </th:block>
						    <li>
						        <a class="a" th:href="@{/board/boardList(pnum=${pMap.nextPageNum})}" aria-label="Next">
						            <span aria-hidden="true">&raquo;</span>
						        </a>
						    </li>
						</ul>
						
	            <!-- 페이징 처리부분 종료 -->
		         </td> 
         	</tr>
		</th:block>
	</table>
</form>

</div>
</div>
</body>
</html>




