<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.trip.mapper.BoardMapper">

	<!-- 새글 추가하기 -->
	<insert id="insertBoard" parameterType="boardDto">
		INSERT INTO tripboard
		VALUES(NULL,#{id},#{title},#{content},SYSDATE(),
		(SELECT NVL(MAX(refer),0)+1
		FROM tripboard alias_for_subquery),0,0,0,'N')
	</insert>
	
	<!-- 글 상세조회 -->
	<select id="getBoard" parameterType="map" resultType="boardDto">
		SELECT Board_seq,id,title,content,regdate,readcount
		FROM tripboard
		WHERE Board_seq=#{Board_seq}
	</select>
	
	<!-- 글 조회수 -->
	<update id="readCount" parameterType="int">
		UPDATE tripboard
		SET readcount=readcount+1
		WHERE Board_seq=#{Board_seq}
	</update>
	
	<!-- 글 수정 -->
	<update id="updateBoard" parameterType="boardDto">
		UPDATE tripboard
		SET title=#{title}, content=#{content}, regdate=SYSDATE()
		WHERE Board_seq=#{Board_seq}
	</update>
	
	<!-- 글 삭제 -->
	<update id="mulDel" parameterType="Map">
		UPDATE tripboard
		SET delflag='Y'
		WHERE Board_seq IN
		<foreach collection="seqs" item="seq" open="(" close=")"
											  separator=",">
			#{Board_seq}
		</foreach>
	</update>
	
	<!-- 답글추가 -->
	<update id="replyUpdate" parameterType="boardDto">
		<![CDATA[
			UPDATE tripboard
			SET step=step+1	
			WHERE refer = (SELECT refer FROM answerboard WHERE Board_seq=#{Board_seq})
			AND step > (SELECT step FROM answerboard WHERE Board_seq=#{Board_seq})		
		]]>
	</update>
	<insert id="replyInsert" parameterType="boardDto">
		<![CDATA[
		INSERT INTO tripboard
		VALUES(NULL,#{id},#{title},#{content},SYSDATE(),
       		  (SELECT refer FROM answerboard alias_for_subquery WHERE Board_seq=#{seq}),
			  (SELECT step FROM answerboard alias_for_subquery WHERE Board_seq=#{seq})+1,
			  (SELECT depth FROM answerboard alias_for_subquery WHERE Board_seq=#{seq})+1,0,'N')
		]]>
	</insert>
	
 	<!-- 게시판 페이징 처리 페이지당 10개씩 -->
<!-- 	<select id="getPCount" resultType="int"> -->
<!-- 		SELECT CEIL(COUNT(*)/10) AS pageCount -->
<!-- 		FROM tripboard -->
<!-- 	</select> -->
	
	
	<select id="getAllList" parameterType="Map" resultType="AnsDto">
		SELECT rn, Board_seq, id, title, content, regdate, refer, step, depth, readcount, delflag
		FROM (SELECT ROW_NUMBER() OVER(ORDER BY refer DESC,step) rn,
		seq, id, title, content, regdate, refer, step, depth, readcount, delflag
		FROM tripboard) AS a
		<where>
			<choose>
				<when test="seq!=null">
					Board_seq=#{Board_seq}
				</when>
				<otherwise>
					CEIL(rn/10)=#{pnum}			
				</otherwise>
			</choose>
		</where>
	</select>
	
	
</mapper>



























