<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="com.hk.trip.mapper.MemberMapper">
	
	<!-- 	회원가입 -->
	<insert id="insertUser" parameterType="MemberDto">
		INSERT INTO tripmember
		VALUES (NULL, #{id},#{name},#{password},#{address},
		#{email},#{enabled},SYSDATE())
	</insert>

	<!-- 아이디 중복체크 -->
	<select id="idCheck" parameterType="String" resultType="MemberDto">
		SELECT id FROM tripmember WHERE id=#{id}	
	</select>
	
	<!-- 로그인 -->
	<select id="getLogin" parameterType="String" resultType="MemberDto"> -->
		SELECT id, NAME
		FROM tripmember
		WHERE id=#{id} AND password=#{password} AND enabled=#{enabled}
	</select>
	
	<!-- 나의 정보 조회 -->
	<select id="getUserinfo" parameterType="String" resultType="MemberDto"> -->
		SELECT id, NAME, address,email, regdate
		FROM tripmember
		WHERE id=#{id}
	</select>
	
	<!-- 나의 정보 수정 -->
	<update id="updateUser" parameterType="MemberDto">
		UPDATE tripmember
		SET address=#{address}, email=#{email}
		WHERE id=#{id}
	</update>
	
	<!-- 회원 탈퇴 -->
	<update id="delUser" parameterType="String">
		UPDATE tripmember
		SET enabled='N'
		WHERE id=#{id}
	</update>
	
	<!-- 회원목록 전체조회 -->
	<select id="getAllUserList"  resultType="MemberDto">
		SELECT seq, id, NAME, address, email, enabled, regdate
		FROM tripmember	
	</select>
	
	<!-- 회원목록 조회(사용중인 회원) -->
	<select id="getUserList" resultType="MemberDto">
		SELECT seq, id, NAME, address, email, enabled, regdate
		FROM tripmember
		WHERE enabled='Y'
	</select>
	
</mapper>