@charset "UTF-8";

*{
   margin:0px;
   padding: 0px;
}

body{
   background-color: azure;
}

button{
   border: 1px solid mistyrose;
   background-color: darkslategrey;
   border-radius: 5px;
   width: 300px;
   height: 40px;
   color: white;
   font-weight: bold;
}

button:hover{
   background-color: lightpink;
   color: black;
}

form{
   width: 300px;
   margin: 10% auto;
}

.loginVal{
   border: 0px;
   width: 288px;
   height: 40px;
   border-radius: 5px;
   padding-left: 10px;
}

input, button{
   margin:2px;
}









