@charset "UTF-8";
*{
	margin:0px;
	padding: 0px;
}

body{
   background-color: azure;
}

/*id를 선택할땐 #*/
#navbar{
	background-color: darkslategrey;
	height: 60px;
}
.navbar ul{
	width: 800px;
	margin-left: 100px;
}

.navbar li{
	display:inline-block;
	margin-top: 16px;
	font-size: 20px;
	color: white;
	margin-left: 15px;
}
.navbar a{
	color: white;
	text-decoration: none;
}
.footer{
	position: absolute;
	left: 0px; 
	right: 0px;
	bottom: 0px;	
	text-align: left;
	color: white;
	line-height: 50px;
	height: 50px;
	background-color: darkslategrey;
	font-size: 10px;
}

form{
   width: 800px;
   margin: 10% auto;
}

input{
   border: 1px solid darkslategrey;
   width: 780px;
   height: 40px;
   border-radius: 5px;
   padding-left: 10px;
}

input, button{
   margin:2px;
}

.lead{
	text-align: right;
	padding: 10px;
}

/*.lead>span{*/
/*	background-color: powderblue;*/
/*}*/

.table{
	width: 100%;
	border-collapse: collapse;
}

.table tr>th, .table tr>td{
	padding: 5px;
}

.table tr:nth-child(odd){
	background-color: darkseagreen;
}

#myinfo,#userAllList{
	width: 1000px;
	margin: 0px auto;
	text-align: center;
}
.contents{
	padding-left: 100px;
}















