<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/homelayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">

</script>
<style type="text/css">

</style>
</head>


<body>


<div layout:fragment="content">
<div id="container">
	<h1>관리자 페이지</h1>
	<h2>전체회원목록</h2>
	<br/>
	<div id="userAllList">
		<table class="table">
			<tr>
				<th>회원번호</th>
				<th>아이디</th>
				<th>이름</th>
				<th>주소</th>
				<th>이메일</th>
				<th>탈퇴여부</th>
				<th>가입일</th>
				<th>회원등급</th>
			</tr>
			<th:block th:if="${#lists.isEmpty(list)}">
				<tr>
					<td colspan="8">-- 가입된 회원이 없습니다. --</td>
				</tr>
			</th:block>
			<th:block th:unless="${#lists.isEmpty(list)}">
				<tr th:each="dto:${list}">
					<td th:text="${dto.seq}"></td>
					<td th:text="${dto.id}"></td>
					<td th:text="${dto.name}"></td>
					<td th:text="${dto.address}"></td>
					<td th:text="${dto.email}"></td>
					<td th:text="${dto.enabled == 'Y'?'가입중':'탈퇴'}"></td>
					<td th:text="${#dates.format(dto.regdate,'yyyy-MM-dd')}"></td>
					<td th:text="${dto.role}"></td>
				</tr>
			</th:block>
		</table>
	</div>	
</div>
</div>
</body>
</html>






