<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">

<title>Insert title here</title>
<script type="text/javascript">

</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
<div id="container">
<h1>나의 정보</h1>
	<form action="/user/getUserInfo" method="post" th:object="${addUserCommand}">
		<table class="table">
			<tr>
				<th>id</th>
				<td th:text="${dto.id}"></td>
			</tr>
			<tr>
				<th>이름</th>
				<td th:text="${dto.name}"></td>
				
			</tr>
			<tr>
				<th>password</th>
				<td th:text="${dto.password}"></td>
				
			</tr>
			<tr>
				<th>주소</th>
				<td th:text="${dto.address}"></td>
				
			</tr>
			<tr>
				<th>이메일</th>
				<td th:text="${dto.email}"></td>
				
			</tr>
			<tr>
				<th>등급</th>
				<td th:text="${dto.role}"></td>
				
			</tr>
			<tr>
				<td colspan="6">
					<button type="button" class="btn" th:onclick="|location.href=''|">정보 수정</button>
				</td>
			</tr>    
		</th:block>
		</table>
		
		
	</form>	
</div>
</div>
</body>
</html>

<!--        <div class="main">-->
<!--            <div class="lead">-->
<!--                <span>님이 로그인함</span> | -->
<!--                <span><a href="userController.jsp?command=getAllUserList">전체회원조회</a></span>-->
<!--                <span><a href="userController.jsp?command=getUserList">회원정보[등급]수정</a></span>-->
<!--                <span><a href="userController.jsp?command=logout">로그아웃</a></span>      -->
<!--            </div>-->
<!--        </div>-->