<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">

</script>
<style type="text/css">
	.btns {
 		text-align: right;
	}
</style>
</head>


<body>


<div layout:fragment="content">
<div id="container">
	<h1>관리자 페이지</h1>
	<h2>회원등급수정</h2>
	<br/>
	<div id="userRoleForm">
		<form action="/user/updateUserRole" method="post">
		<input type="hidden" name="id" th:value="${dto.id}" />
		<table class="table">
			<tr>
				<th>아이디</th>
					<td th:text="${dto.id}"></td>
				</tr>
				<tr>
					<th>이름</th>
					<td th:text="${dto.name}"></td>
				</tr>	
				<tr>
					<th>등급</th>
					<td>
						<select name="role">
						    <option th:selected="${dto.role eq 'ADMIN'}" value="ADMIN">관리자</option>
						    <option th:selected="${dto.role eq 'MANAGER'}" value="MANAGER">정회원</option>
						    <option th:selected="${dto.role eq 'USER'}" value="USER">일반회원</option>
						</select>
					</td>	
				</tr>
				<tr>
					<td colspan="2" class="btns">
						<button type="submit">수정</button>
					</td>	
			</tr>			
		</table>
		</form>
	</div>	
</div>
</div>
</body>
</html>






