<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">

<title>Insert title here</title>
<script type="text/javascript">

</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
<div id="container">
<h1>회원목록</h1>
	
<!--	<form action="/userinfo" method="post" >-->
<!--	<table class="table">-->
<!--		<tr>-->
<!--			<th>이름</th>							-->
<!--			<th>id</th>-->
<!--			<th>password</th>-->
<!--			<th>주소</th>-->
<!--			<th>이메일</th>-->
<!--			<th>등급</th>-->
<!--		</tr>-->
<!--		<th:block>-->
<!--			<tr>-->
<!--				<td th:text="${dto.name}"></td>-->
<!--				<td th:text="${dto.id}"></td>-->
<!--				<td th:text="${dto.password}"></td>-->
<!--				<td th:text="${dto.address}"></td>-->
<!--				<td th:text="${dto.email}"></td>-->
<!--				<td th:text="${dto.role}"></td>-->
<!--			</tr>-->
<!--		</th:block>-->
<!--	</table>-->
<!--    </form>-->
<!--</div>-->
<!--</div>-->

</body>
</html>

<!--        <div class="main">-->
<!--            <div class="lead">-->
<!--                <span>님이 로그인함</span> | -->
<!--                <span><a href="userController.jsp?command=getAllUserList">전체회원조회</a></span>-->
<!--                <span><a href="userController.jsp?command=getUserList">회원정보[등급]수정</a></span>-->
<!--                <span><a href="userController.jsp?command=logout">로그아웃</a></span>      -->
<!--            </div>-->
<!--        </div>-->