<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">

</script>
<style type="text/css">

</style>
</head>


<body class="home">


<div layout:fragment="content">
	<h1>관리자 페이지</h1>

		<p>
			<span><a href="/user/userAllList">전체회원조회</a></span>
<!-- 			<span><a href="/user/userUpdateRole">회원정보[등급]수정</a></span>	 -->
		</p>
<!-- 		<button th:hrf="/user/userAllList"> 전체회원조회 </button> -->
</div>
</body>
</html>  






