<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">

</script>
<style type="text/css">
	body {
            margin: 0; /* body의 margin을 0으로 설정하여 여백을 제거합니다. */
            padding: 0; /* body의 padding을 0으로 설정하여 여백을 제거합니다. */
            background-image: url('/static/image/background.png'); /* 이미지 경로를 수정하세요. */
            background-size: cover; /* 이미지가 꽉 차도록 설정합니다. */
            background-position: center; /* 이미지를 가운데 정렬합니다. */
            height: 100vh; /* body를 화면의 100% 높이로 설정합니다. */
        }
</style>
</head>
<body>


<div layout:fragment="content">
<h1>HOME</h1>
<th:block th:if="${session.mdto==null}">
	<p>
		<a href="/user/login">SignIn</a>
		<a href="/user/addUser">SignUp</a>
	</p>
</th:block>
<th:block th:unless="${session.mdto==null}">
	<p>
		<span th:text="${session.mdto.id}"></span>
 		<span th:text="${session.mdto.role}"></span> 
		<a href="/user/logout">로그아웃</a>
	</p>
</th:block>
	<p><a href="/board/boardList">게시판</a></p>
</div>

</body>
</html>






