<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

</style>
</head>
<body>
<div class="container">
<nav th:fragment="navbar" class="navbar">
	<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 160px;">
		<svg class="bi me-1" width="20" height="32"><use xlink:href="#bootstrap"></use></svg>
		<span class="fs-4">Travel</span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Home
        </a>
      </li>
      <li>
        <a href="/board/boardList" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          게시판
        </a>
      </li>
      <li>
        <a href="/user/userinfo" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          마이페이지
        </a>
      </li>
    </ul>
    <hr>
	</div>
  </nav>
</div>
  <div style="height: 50px;"></div>
  
  
</body>
</html>