<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

	body{
		 height: 100vh;
	}
</style>
</head>

<body>
<div class="container">
	<nav th:fragment="navbar" class="navbar">
		<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" 
								style="width: 160px; height: 100vh;">
			<svg class="bi me-1" width="28" height="32"><use xlink:href="#bootstrap"></use></svg>
			<span class="fs-4">Travel</span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a th:if="${session.mdto == null}" href="/" class="nav-link active" aria-current="page">
		    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
		    HOME
		</a>
		<a th:if="${session.mdto != null and session.mdto.role == 'USER'}" href="/" class="nav-link active"
		   aria-current="page">
		    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
		    HOME
		</a>
		<a th:if="${session.mdto != null and session.mdto.role == 'ADMIN'}" href="admin_main"
		   class="nav-link active" aria-current="page">
		    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
		    HOME
		</a>
      </li>
      <li>
        <a href="/board/boardList" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          게시판
        </a>
      </li>
      <li>
        <a href="/user/userinfo" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          마이페이지
        </a>
      </li>
    </ul>
    <hr>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<hr>
    <ul class="nav nav-pills flex-column mb-auto">
	  <th:block th:if="${session.mdto==null}" >
	      <li class="nav-item">
	        	<a href="/user/login" class="nav-link active">
		          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
		          SignIn
		        </a>
	      </li>
	      <li class="nav-item">
	        	<a href="/user/addUser" class="nav-link active">
		          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
		          SignUp
		        </a>
	      </li>
	  </th:block>
	  <th:block th:unless="${session.mdto==null}">
	      <li class="nav-item">
			  <a href="/user/userinfo" class="nav-link active">
		        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
	        	<span th:text="${session.mdto.id}"></span>
		 		[<span th:text="${session.mdto.role}"></span>]
			  </a> 
	      </li>
	      <li class="nav-item">
	        	<a href="/user/logout" class="nav-link active">
		          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
		          로그아웃
		        </a>
	      </li>
	  </th:block>
    </ul>

   
   
   </div>
  </nav>
</div>
  <div style="height: 50px;"></div>
  
  
</body>
</html>