<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hk.otter.mapper.OrderMapper">

<!--    펀딩한 프로젝트 목록 보기 -->
   <select id="paylist"  resultType="OrderDto">
      SELECT user_id, seq, title, select_reward, select_amount, total_price, order_date
      FROM orders
      WHERE user_id=#{user_id}
      ORDER BY order_date DESC
   </select>
   
<!--    결제내역 상세보기 -->
   <select id="orderDetail" parameterType="int" resultType="OrderDto">
       SELECT seq ,user_id, NAME, title,  select_reward, select_amount, total_price, order_date,address ,phone
      FROM orders
      WHERE seq=#{seq}
   </select>
	
<!-- 	<insert id="orderSuccess" parameterType="OrderDto"> -->
<!--       	INSERT INTO orders -->
<!-- 		VALUES(NULL, #{user_id}, #{user_name}, #{title}, #{select_reward}, null, #{address}, -->
<!-- 		#{phone}, #{total_price}, null, SYSDATE(), #{orderId}, #{paymentKey});  -->
<!--    </insert>  -->


</mapper>
