<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.otter.mapper.UserMapper">

	<insert id="addUser" parameterType="UserDto">
		INSERT INTO USER
		VALUES(NULL, #{id}, #{userpassword}, #{username}, #{phone}, #{useremail},
				#{useraccesstoken},#{userrefreshtoken}, #{userseqno}, 'USER', 'N')
	</insert>
	
	<select id="loginUser" parameterType="UserDto" resultType="UserDto">

		SELECT USERNAME, USEREMAIL,USERPASSWORD,USERACCESSTOKEN,USERREFRESHTOKEN,USERSEQNO
		FROM USER
		WHERE ID=#{id} AND USERPASSWORD=#{userpassword} AND DELFLAG='N'

	</select> 
	
	<select id="idChk" parameterType="String" resultType="String">
		SELECT ID FROM USER WHERE ID=#{id}
	</select>

</mapper>
















